.popserviceallitm{
    display: flex;
}

.popservicecontainer h1{
    text-align: center;
    
   
}


.popserviceitm {
    margin-top: 20px; /* Add margin to separate items */
    border: 2px solid #ccc; /* Add a border */
    border-radius: 5px; /* Add rounded corners */
    padding: 20px; /* Add padding for spacing */
    width: 300px; /* Set a fixed width */
    margin: 0 auto; /* Center the box horizontally */
}

.popserviceitm img {
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
    
}

.popserviceitm h2 {
    font-size: 18px; /* Adjust heading size */
    margin-top: 10px; /* Add some spacing between heading and image */
}

.popserviceitm p {
    font-size: 14px; /* Adjust paragraph size */
    margin-top: 10px; /* Add spacing */
}

.popserviceitm button {
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove button border */
    padding: 8px 16px; /* Add padding */
    border-radius: 4px; /* Add rounded corners */
    margin-top: 10px; /* Add spacing */
    cursor: pointer; /* Change cursor to pointer on hover */
    
    
}

.popserviceitm button:hover {
    background-color: #0056b3; /* Darken button color on hover */
}




