body{
    background-color: #2B9BFF;
    ;
}

.loginbox{
    text-align: center;
    background-color:white;  
    margin: 200px auto;
    border: 2px solid #ccc; 
    border-radius: 5px; 
    padding: 50px; 
    width: 400px;
    /* height: 500px;    */
}   

.loginboxitm {
    display: flex;
    flex-direction: column;
}
/* .loginbox h1{
    
} */
.loginbox .logintxtbox input{
    margin-block:10px;
    width: 100%; 
    /* height: 30px; */

}

.loginbox-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(138, 138, 138);
    font-size: 18px;
    height: 50px;
    box-sizing: border-box;
}

.loginbox-forget {
    color: #07a0f8;
    text-decoration: none;
    font-size: 20px;
    margin-block:20px;
}

.undertxtbox{
    text-align: center;
}
.undertxtbox a{
    color: rgb(0, 195, 255) ;
    font-size: 20px;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;

}
.loginbox-btn { 
    background-color: #07a0f8;
    border: 0 solid black;
    width: 100%;
    padding: 20px 10px;
    color: white;
    border-radius: 5px;
}
.loginbox-btn:hover {
    transition: 0.4s;
    background: #1677cc;
}
p{
    font-size: 20px;
}