
.mechanic-popup-container {
    margin: 100px;
    
    align-items: center;
}
/* .mechanic-popup-vdails{
    display: flex;
    flex-direction: column;
} */

.mechanic-textarea1 {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Add margin bottom for spacing */
    gap: 20px; /* Increase the space between elements */
}

.mechanic-popup-vdails {
    /* gap: 10px; */
    display: block;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

/* Adjust input width as needed */
input[type="text"],
input[type="date"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(138, 138, 138);
    font-size: 18px;
    height: 50px;
    box-sizing: border-box;
}
input[type="radio"]{
    justify-content: center;
    align-items: center;
}

/* Adjust label width as needed */
label {
    width: 100px;
    height: auto;
    size: 100px;
    
}
.mechanic-textarea3{
    padding-top: 20px;
    cursor: pointer;
}
button{
    color: #fff;
    background: #07a0f8;
    margin-top: 1.7rem;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    height: 60px;
    width: 50%;
    padding: 0 15px;
    font-size: 20px;
    margin-bottom: 1.3rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
}
.mechanic-textarea4{
    display: flex;
    gap: 50px;
    
}
.mechanic-textarea4 label,input{
    margin-top: 15px;
}
.mechanic-textarea4 label{
    padding-top: 10px;
}

.mechanic-bill{
    margin-top: 5em;
}
