
.index-sub-container2{
    margin: 20px;
}
.index-sub-container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.index-sub-container2-content-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 50px 50px 50px;
    
   
}
.index-sub-container2-content-img{
    border-radius: 10px;
}
.index-sub-container2-content-img img{
    width: 10em;
    height: 10em;
    border-radius: 5px;
    padding: 20px 20px;
    
}
.index-sub-container2-content-des  {
    vertical-align: middle;
    padding: 20px 20px;
}

.index-sub-container2-content-des p{
    font-size: 20px;

}

.index-sub-container2-content-main-section1:hover{
    background-color: rgb(235, 127, 127);
}
.index-sub-container2-content-main-section1{
    background-color: rgba(228, 149, 149, 0.863);
    border-radius: 20px;
    margin-bottom: 5em;
}
.index-sub-container2-content-main-section2:hover{
    background-color: rgba(167, 236, 121, 0.993);
}

.index-sub-container2-content-main-section2{
    background-color: rgba(181, 228, 149, 0.863);
    border-radius: 20px;
    margin-bottom: 5em;
}
.index-sub-container2-content-main-section3:hover{
    background-color: rgb(228, 217, 69);
}
.index-sub-container2-content-main-section3{
    background-color: rgba(238, 229, 106, 0.863);
    border-radius: 20px;
    margin-bottom: 5em;
}
.index-sub-container2-content-main-section4{
    background-color: rgba(216, 137, 33, 0.863);
    border-radius: 20px;
    margin-bottom: 5em;
}
.index-sub-container2-content-main-section4:hover{
    background-color: rgb(235, 140, 16);
}


/* service page popup */

.service-popup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9999;
    overflow-y: auto;
}
.service-popup-content{
    background-color: rgb(245, 245, 245);
    width: 60%;
    height: auto;
    /* max-width: 600px; */
    margin: 100px auto; /* Center the popup vertically and horizontally */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow-y: auto;
}
.close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}
.close:hover {
    color: red;
}